<style type="text/css">
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 999px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

input[readonly] {
	background-color: white !important;
	cursor: text !important;
}
</style>

	<div class="form-group">
	  <div style="color:red">
		  <p> ** NOTE: Compulsorily refresh this page once! NOW!!!!
		  </p>
	  </div>	
	  <label class="control-label" for="paletteCode">Palette Code</label>
	  <div class="controls">
	    <input required="true" class="form-control" name="palette[code]" type="text" id="paletteCode" placeholder="P001" value="<%= @palette.code unless @palette.nil? %>"/>
	  </div>
	</div>
	
    <select name="palette[colors][]" data-placeholder="Choose laminate colors..." id="chooseFromExistingColors"  multiple style="width:350px;" class='chosen-select' tabindex="4">
        <% Color.all.order_by(:code.asc).to_a.each do |color| %>
          <option value="<%= color.id %>">
          		<%= color.code %>
          </option>
      <% end %>
    </select>
