/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require chosen
 *= require colorbox-rails
 */


body {
  font-family: "Helvetica Neue", Helvetica, "Lucida Grande", Arial, Verdana, sans-serif;
  padding: 0px;
  margin: 0px;
  color: #333333;
  font-size: 18px;
  background-color: white; }

a {
  color: #ff9900;
  text-decoration: none;
  cursor: pointer; }

h1, h2 {
  font-weight: 300;
  line-height: 0.9em; }

h1, h2, h3, h4, h5, h6, p {
  padding: 12px 12px;
  margin: 0px; }

.fleft {
  float: left; }

.fright {
  float: right; }

.container {
  width: 100%; }

.wrapper {
  width: 100%; }

.innerContainer {
  width: 980px;
  padding: 12px 0px;
  margin: 0px auto;
  position: relative; }

.borderBottom {
  border-color: #cccccc;
  border-style: dashed;
  border-width: 0px 0px 1px 0px; }

.borderTop {
  border-color: #e3e3e3;
  border-style: solid;
  border-width: 1px 0px 0px 0px; }

.greyBG {
  background-color: #f3f3f3; }

.largePaddingBottom {
  padding: 0px 0px 60px 0px; }

.largePaddingTopBottom {
  padding: 80px 0px 60px 0px; }

.greyBG2 {
  background-color: #66ccff;
  background-image: url("..//images/cloth.jpg");
  background-size: 100% 100%; }

.alignLeft {
  text-align: left; }

.alignRight {
  text-align: right; }

.alignCenter {
  text-align: center; }

.clearFix {
  clear: both; }

.hidden {
  display: none; }

.logo_left {
  width: 102px;
  height: 46px;
  z-index: 1000;
  position: absolute;
  top: 10px;
  left: 18px;
  background-image: url("..//images/presto_logo.png");
  background-size: 140px 46px;
  background-position: left center;
  background-repeat: no-repeat;
  opacity: 1;
  cursor: pointer; }

.logo_left_light {
  width: 102px;
  height: 46px;
  z-index: 1000;
  position: absolute;
  top: 10px;
  left: 18px;
  background-image: url("..//images/presto_logo_light.png");
  background-size: 140px 46px;
  background-position: left center;
  background-repeat: no-repeat;
  opacity: 1;
  cursor: pointer; }

.logo_right {
  width: 38px;
  height: 46px;
  z-index: 1000;
  position: fixed;
  top: 10px;
  left: 120px;
  background-image: url("..//images/presto_logo.png");
  background-size: 140px 46px;
  background-position: right center;
  background-repeat: no-repeat;
  opacity: 1;
  cursor: pointer;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  transition: all 0.5s linear; }

.logo_right.animated {
  position: fixed;
  top: 10px;
  left: 10px; }

.getInTouch {
  width: auto;
  height: auto;
  padding: 8px;
  font-weight: bold;
  color: white;
  border-radius: 4px;
  box-shadow: 0px 1px 2px #cccccc;
  margin: 10px;
  z-index: 100;
  position: fixed;
  bottom: 0px;
  right: 50px;
  background-color: #00ccff;
  opacity: 0.9;
  cursor: pointer; }
  .getInTouch:hover {
    opacity: 1;
    box-shadow: 0px 1px 2px #666666; }

.learnModules {
  width: auto;
  height: auto;
  padding: 8px;
  font-weight: bold;
  color: white;
  border-radius: 4px;
  box-shadow: 0px 1px 2px #cccccc;
  background-color: #00ccff;
  opacity: 0.5;
  float: left;
  margin: 0px 12px;
  cursor: pointer; }
  .learnModules:hover {
    opacity: 1;
    box-shadow: 0px 1px 2px #666666; }

.button {
  width: auto;
  height: auto;
  padding: 8px 24px;
  font-weight: bold;
  color: white;
  border-radius: 4px;
  background-color: #ff9900;
  float: left;
  margin: 0px 12px;
  cursor: pointer; }
  .button:hover {
    background-color: #ffbb00; }

.scrollToTop {
  width: auto;
  height: auto;
  padding: 0px;
  font-weight: bold;
  color: white;
  margin: 20px 10px 10px 0px;
  z-index: 100;
  position: fixed;
  bottom: 0px;
  right: 0px;
  opacity: 0.5;
  cursor: pointer; }
  .scrollToTop img {
    width: 40px;
    height: 40px; }
  .scrollToTop:hover {
    opacity: 1; }

/* Custom styles for box one */
.blockOne {
  margin: 0px auto 48px auto;
  height: 280px; }
  .blockOne .topBlock {
    padding-top: 40px;
    width: auto;
    left: 0px; }
  .blockOne .bottomBlock {
    position: absolute;
    bottom: 20%;
    width: 320px;
    left: 0px;
    color: #666666; }

.arrowOne {
  position: absolute;
  left: 320px;
  top: 170px;
  width: 125px;
  display: none; }

.boxesOne {
  position: absolute;
  left: 545px;
  top: 14%;
  width: 77px; }

.arrowTwo {
  position: absolute;
  left: 520px;
  top: 50%;
  width: 125px; }

.phoneOne {
  position: absolute;
  left: 660px;
  top: 5%;
  width: 300px; }

.blockTwo {
  background-image: url("..//images/prsto_19.png");
  background-position: right center;
  background-repeat: no-repeat;
  height: 400px; }
  .blockTwo .topBlock {
    position: absolute;
    top: 10%;
    width: 480px;
    left: 0px; }
  .blockTwo .bottomBlock {
    position: absolute;
    bottom: 20%;
    width: 320px;
    left: 0px;
    color: #666666; }

.blockThree {
  background-image: url("..//images/prsto_23.png");
  background-position: left center;
  background-repeat: no-repeat;
  height: 500px; }
  .blockThree .topBlock {
    position: absolute;
    top: 30%;
    width: 480px;
    right: 0px;
    color: #666666; }

.blockFour {
  background-image: url("..//images/prsto_27.png");
  background-position: right center;
  background-repeat: no-repeat;
  height: 500px;
  position: relative; }
  .blockFour .topBlock {
    position: absolute;
    top: 20%;
    width: 480px;
    left: 0px;
    color: #666666; }

.boxes {
  height: auto;
  font-size: 12px; }
  .boxes .threeBoxes {
    width: 33%;
    border-width: 0px 0px 0px 1px;
    border-style: solid;
    border-color: #e3e3e3;
    float: left; }
  .boxes .threeBoxes:first-child {
    border-width: 0px 0px 0px 0px; }

.footer {
  height: auto;
  font-size: 12px; }

.teamPicsSmall {
  padding: 0px 12px; }
  .teamPicsSmall img {
    width: 40px;
    height: 40px;
    margin: 0px 1px 0px 0px; }

.slidesThemes {
  width: 166px;
  height: 293px;
  position: absolute;
  left: 272px;
  top: 129px; }
  .slidesThemes img {
    width: 166px;
    height: 293px; }

.slidesThemesOverlay {
  width: 194px;
  height: 409px;
  overflow: hidden;
  position: absolute;
  left: 257px;
  top: 70px;
  z-index: 100; }

/* Carousel */
.carousel {
  margin: 0px;
  padding: 0px; }
  .carousel .carousel-inner {
    height: 400px;
    position: relative;
    overflow: hidden; }
    .carousel .carousel-inner .item {
      height: 400px;
      width: 100%;
      background-position: center center;
      background-repeat: no-repeat;
      position: relative;
      display: none;
      -webkit-transition: 0.6s ease-in left;
      -moz-transition: 0.6s ease-in left;
      -o-transition: 0.6s ease-in left;
      transition: 0.6s ease-in left; }
      .carousel .carousel-inner .item .carousel-homepagetext {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        position: absolute;
        bottom: 0px;
        left: auto; }
        .carousel .carousel-inner .item .carousel-homepagetext h2 {
          font-size: 3em;
          line-height: 0.9em; }
        .carousel .carousel-inner .item .carousel-homepagetext h2, .carousel .carousel-inner .item .carousel-homepagetext h3, .carousel .carousel-inner .item .carousel-homepagetext h4, .carousel .carousel-inner .item .carousel-homepagetext p {
          padding: 12px; }
        .carousel .carousel-inner .item .carousel-homepagetext > h1, .carousel .carousel-inner .item .carousel-homepagetext > h2, .carousel .carousel-inner .item .carousel-homepagetext > h3, .carousel .carousel-inner .item .carousel-homepagetext > h4, .carousel .carousel-inner .item .carousel-homepagetext > h5, .carousel .carousel-inner .item .carousel-homepagetext > h6, .carousel .carousel-inner .item .carousel-homepagetext > p {
          max-width: 40%; }
    .carousel .carousel-inner .active, .carousel .carousel-inner .next, .carousel .carousel-inner .prev {
      display: block; }
    .carousel .carousel-inner .next, .carousel .carousel-inner .prev {
      position: absolute;
      top: 0;
      width: 100%; }
    .carousel .carousel-inner .next {
      left: 100%; }
    .carousel .carousel-inner .prev {
      left: -100%; }
    .carousel .carousel-inner > .active {
      left: 0; }
    .carousel .carousel-inner > .next.left, .carousel .carousel-inner > .prev.right {
      left: 0; }
    .carousel .carousel-inner > .active.left {
      left: -100%; }
    .carousel .carousel-inner > .active.right {
      left: 100%; }
  .carousel ol.carousel-indicators {
    list-style-type: none;
    position: absolute;
    z-index: 200;
    left: 0px;
    bottom: -90px;
    text-align: center;
    padding: 0 0 0 42px;
    margin: 0; }
    .carousel ol.carousel-indicators li {
      width: 8px;
      height: 8px;
      border-radius: 10px;
      background-color: #ffcc00;
      float: left;
      margin: 10px;
      cursor: pointer; }
      .carousel ol.carousel-indicators li:hover {
        background-color: #ff6600; }
    .carousel ol.carousel-indicators li.active {
      background-color: #ff6600; }
  .carousel .carousel-control {
    position: absolute;
    top: 40%;
    left: 15px;
    width: 40px;
    height: 40px;
    background-color: red;
    text-align: center;
    font-size: 4.5px;
    color: #6e6e6e;
    opacity: 0.4;
    display: none; }
  .carousel .carousel-control.fleft {
    left: 15px;
    right: auto; }
  .carousel .carousel-control.fright {
    left: auto;
    right: 15px; }

/* Bootstrap Fade */
.fade {
  opacity: 0;
  -webkit-transition: opacity 1s linear;
  -moz-transition: opacity 1s linear;
  -o-transition: opacity 1s linear;
  transition: opacity 1s linear; }

.fade.in {
  opacity: 1; }

/* Popovers */
.popover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  max-width: 240px;
  width: 80%;
  padding: 1px;
  text-align: left;
  white-space: normal;
  background-color: #ecf0f1;
  border-radius: 4px;
  color: #6e6e6e;
  font-size: 12.6px;
  font-family: "Helvetica Neue", Helvetica, "Lucida Grande", Arial, Verdana, sans-serif; }
  .popover .popover-title {
    padding: 12px 12px;
    border-bottom: 1px solid #cfd9db;
    margin: 0px; }
  .popover .popover-content {
    padding: 12px 12px;
    margin: 0px;
    /* The PopOver Arrows */ }
  .popover img {
    width: 100%; }
  .popover .arrow, .popover .arrow:after {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid; }
  .popover .arrow {
    border-width: 11px;
    opacity: 1; }
  .popover .arrow:after {
    border-width: 10px;
    content: "";
    opacity: 1; }

.popover.top .arrow {
  bottom: -11px;
  left: 50%;
  margin-left: -11px;
  border-bottom-width: 0; }
.popover.top .arrow:after {
  bottom: 1px;
  margin-left: -10px;
  border-top-color: #ecf0f1;
  border-bottom-width: 0; }

.popover.right .arrow {
  top: 50%;
  left: -11px;
  margin-top: -11px;
  border-left-width: 0; }
.popover.right .arrow:after {
  bottom: -10px;
  left: 1px;
  border-right-color: #ecf0f1;
  border-left-width: 0; }

.popover.bottom .arrow {
  top: -11px;
  left: 50%;
  margin-left: -11px;
  border-top-width: 0; }
.popover.bottom .arrow:after {
  top: 1px;
  margin-left: -10px;
  border-bottom-color: #ecf0f1;
  border-top-width: 0; }

.popover.left .arrow {
  top: 50%;
  right: -11px;
  margin-top: -11px;
  border-right-width: 0; }
.popover.left .arrow:after {
  right: 1px;
  bottom: -10px;
  border-left-color: #ecf0f1;
  border-right-width: 0; }

.top {
  margin-top: -10px; }

.right {
  margin-left: 10px; }

.bottom {
  margin-top: 10px; }

.left {
  margin-left: -10px; }

.superpopimage .popover, .simpletable .popover, .sidebar .popover {
  color: #ecf0f1;
  background-color: #545454; }
  .superpopimage .popover .popover-title, .simpletable .popover .popover-title, .sidebar .popover .popover-title {
    color: #ecf0f1;
    border-bottom: 1px solid #6e6e6e; }
.superpopimage .popover.top .arrow:after, .simpletable .popover.top .arrow:after, .sidebar .popover.top .arrow:after {
  border-top-color: #545454; }
.superpopimage .popover.left .arrow:after, .simpletable .popover.left .arrow:after, .sidebar .popover.left .arrow:after {
  border-left-color: #545454; }
.superpopimage .popover.right .arrow:after, .simpletable .popover.right .arrow:after, .sidebar .popover.right .arrow:after {
  border-right-color: #545454; }
.superpopimage .popover.bottom .arrow:after, .simpletable .popover.bottom .arrow:after, .sidebar .popover.bottom .arrow:after {
  border-bottom-color: #545454; }

.sidebar .popover {
  width: 640px !important;
  max-width: none; }

/* Dropdown */
.dropdown-toggle {
  background-image: url("images/downuparrow.png");
  background-repeat: no-repeat;
  padding-right: 22px;
  background-position: right 18px;
  padding: 12px 60px 11px 12px; }

.dropdown-toggle:hover {
  background-position: right -84px; }

.dropdown, .dropdown > ul > li {
  position: relative; }

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 999;
  display: none;
  float: left;
  min-width: 160px;
  padding: 0;
  margin: 0;
  text-align: left; }

.dropdown-menu.pull-right {
  right: 0px;
  left: auto;
  display: none; }
  .dropdown-menu.pull-right li {
    float: none !important;
    width: auto;
    padding: 8px 12px !important; }
    .dropdown-menu.pull-right li a {
      color: #94aab0; }
    .dropdown-menu.pull-right li a:hover {
      color: white; }
  .dropdown-menu.pull-right li:first-child {
    border-top: 0px; }

.open {
  *z-index: 999;
  color: white; }

.open a {
  color: white; }

.open .dropdown-menu {
  display: block; }

.affix-top {
  position: relative; }

.affix {
  position: fixed;
  top: 40px; }

/* Bootstrap Overrides */
.blockSlider {
  height: 400px; }
  .blockSlider h1, .blockSlider h2, .blockSlider h3, .blockSlider h4, .blockSlider h5, .blockSlider h6, .blockSlider p {
    max-width: 49%; }
  .blockSlider .carousel {
    margin: 0px;
    padding: 0px; }
    .blockSlider .carousel .carousel-inner {
      height: 400px;
      position: relative;
      overflow: hidden; }
      .blockSlider .carousel .carousel-inner > .item {
        height: 400px;
        width: 100%;
        background-position: right center;
        background-repeat: no-repeat;
        position: relative; }
    .blockSlider .carousel ol.carousel-indicators {
      list-style-type: none;
      position: absolute;
      left: 0px;
      bottom: 10px;
      z-index: 200;
      text-align: center;
      padding: 0 12px;
      margin: 0; }
      .blockSlider .carousel ol.carousel-indicators li {
        width: 40px;
        height: 48px;
        border-radius: 0px;
        background-color: #ffcc00;
        float: left;
        margin: 0px 2px 0px 0px;
        cursor: pointer;
        text-align: left;
        font-weight: bold;
        color: white;
        padding: 0px 4px;
        font-size: 1em;
        opacity: 1; }
      .blockSlider .carousel ol.carousel-indicators li:nth-child(1) {
        background-color: #ffb12a; }
      .blockSlider .carousel ol.carousel-indicators li:nth-child(2) {
        background-color: #ffc051; }
      .blockSlider .carousel ol.carousel-indicators li:nth-child(3) {
        background-color: #fff152; }
      .blockSlider .carousel ol.carousel-indicators li:nth-child(4) {
        background-color: #e0b873; }
      .blockSlider .carousel ol.carousel-indicators li:nth-child(5) {
        background-color: #e1da1a; }
      .blockSlider .carousel ol.carousel-indicators li:nth-child(6) {
        background-color: #ffa200; }
      .blockSlider .carousel ol.carousel-indicators li:nth-child(7) {
        background-color: #ffc515; }
      .blockSlider .carousel ol.carousel-indicators li.active {
        background-color: #ff6600; }
      .blockSlider .carousel ol.carousel-indicators li:hover {
        background-color: #ff6600; }

#hiddenmodules {
  display: none; }

#hiddenhowto {
  height: 300px;
  background-image: url("..//images/darkgradient.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding: 24px 0px; }

.gradientBG {
  background-image: url("..//images/darkgradient.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  color: white; }

.gradientOrangeBG {
  background-image: url("..//images/gradientOrangeBG.jpg"); }

.gradientGreenBG {
  background-image: url("..//images/gradientGreenBG.jpg"); }

.gradientOrangeBG, .gradientGreenBG {
  background-size: 100% 100%;
  background-repeat: no-repeat;
  color: white;
  height: auto; }
  .gradientOrangeBG a, .gradientGreenBG a {
    color: white; }

.cloudStatic {
  width: 136px;
  height: 96px;
  position: absolute;
  top: 200px;
  left: 560px;
  opacity: 0.5; }

.cloud {
  width: 136px;
  height: 96px;
  position: absolute;
  top: 200px;
  left: 560px;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  transition: all 0.5s linear; }

.cloud.animateCloud {
  left: 800px; }

@keyframes moveLeft,;
@-webkit-keyframes moveLeft /* Safari and Chrome */ {
  from {
    left: 560px; }

  to {
    left: 800px; } }

/* The Boxes */
.moveSmb {
  position: absolute;
  z-index: 999;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  transition: all 0.5s linear; }

.smb_01 {
  left: 207px;
  top: 230px; }

.smb_02 {
  left: 323px;
  top: 230px; }

.smb_03 {
  left: 363px;
  top: 230px; }

.smb_04 {
  left: 441px;
  top: 230px; }

.smb_05 {
  left: 520px;
  top: 211px; }

.smb_06 {
  left: 598px;
  top: 163px; }

.smb_07 {
  left: 677px;
  top: 256px; }

/* And animated */
.smb_01.animated {
  left: 30px;
  top: 490px; }

.smb_02.animated {
  left: 147px;
  top: 490px; }

.smb_03.animated {
  left: 30px;
  top: 562px; }

.smb_04.animated {
  left: 108px;
  top: 562px; }

.smb_05.animated {
  left: 30px;
  top: 634px; }

.smb_06.animated {
  left: 108px;
  top: 634px; }

.smb_07.animated {
  left: 30px;
  top: 727px; }

.showmodules {
  cursor: pointer; }

.buttonDiv50 {
  width: 50%;
  padding: 20px 0px;
  float: left; }

/* All Forms */
#login {
  display: none; 
}

.form a {
  text-decoration: underline; }
.form .inputGroup {
  clear: both;
  margin: 12px 0px;
  font-size: 0.9em; }
.form .buttonGroup {
  clear: both;
  padding: 0px 0px 0px 152px;
  font-size: 0.7em; }
.form label {
  width: 140px;
  padding: 6px 12px;
  float: left;
  height: 24px;
  vertical-align: middle; }
.form input {
  width: 260px;
  border-radius: 4px;
  padding: 4px 12px;
  height: 32px;
  vertical-align: middle;
  border: none;
  background-color: #ecf0f1;
  font-family: "Helvetica Neue", Helvetica, "Lucida Grande", Arial, Verdana, sans-serif;
  font-size: 1em; }
.form input.button {
  width: auto;
  height: auto;
  padding: 6px 24px;
  font-weight: bold;
  color: white;
  border-radius: 4px;
  background-color: #ff9900;
  float: none;
  margin: 0px 12px;
  cursor: pointer;
  vertical-align: middle; }
  .form input.button:hover {
    background-color: #ffbb00; }
.form input.checkbox {
  vertical-align: middle;
  width: 20px;
  margin: 0px 0px 4px 0px; }
.form input.file {
  color: #878787; }
.form textarea {
  width: 260px;
  border-radius: 4px;
  padding: 4px 12px;
  height: 96px;
  vertical-align: top;
  border: none;
  background-color: #ecf0f1;
  font-family: "Helvetica Neue", Helvetica, "Lucida Grande", Arial, Verdana, sans-serif;
  font-size: 1em; }
.wizzardLeft {
  width: 560px; }

.wizzardRight {
  position: relative; }

iframe {
  border: none; }

.iphone5 {
  background-image: url("..//images/iphone5.png");
  background-size: 100% 100%;
  width: 399px;
  height: 796px; }
  .iphone5 .preview {
    width: 320px;
    height: 568px;
    background-color: white;
    overflow: hidden;
    position: absolute;
    left: 41px;
    top: 117px; }

.errorBox {
  background-color: #faf8f0;
  margin: 20px 0;
  padding: 10px;
  border: 3px dashed #ff7777;
  box-sizing: border-box;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  color: #333;
  width: 465px;
}

ul.hmenu {
  float: right;
  list-style: none; 
  margin: 2em 0 2em;
  padding: 0;
}

ul.hmenu li {
  display: inline;  
  font-size: 20px;
}
