	<div class="form-group">
	  <label class="control-label" for="colorCode">Color Code</label>
	  <div class="controls">
	    <input required="true" class="form-control" name="color[code]" type="text" id="colorCode" placeholder="Color Code" value="<%= @color.code unless @color.nil? %>"/>
	  </div>
	</div>
	
	<div class="form-group">
	  <label class="control-label" for="colorImage">Color Image URL</label>
	  <div class="controls">
	    <input type="text" class="form-control" name="color[image_url]" id="colorImage" placeHolder="https://yourwebsite.com/image.ext" value="<%= @color.image_url unless @color.nil?%>"/>
		<%= button_to_function "Upload", "upload_file()", class: "ok" %>
	  </div>
	</div>

<script type="text/javascript" charset="utf-8">
  function upload_file()
  {
	 $('#fileUploaderContainer').modal('show');
  	 $("#uploadForm").find("input[type=file]").attr("name","uploaded_file"); 
  }
  
  var upload_callback = function(upload_url){
	  $('#appBGImage').val(upload_url)
	  $("#fileUploaderContainer").modal("hide")
  }
</script>