<% users = manage_users[:users] %>
  <div class="container-fluid">
	  <div class="row-fluid">
	    <h4 class="sub-header" name="manage-users">Manage users</h4>
	 	<% if can? :create, User %>
	   		<a href="/users/new" class="btn btn-primary new-create">New User [+]</a>
		<% end %>
	    <br/>
	    <br/>
		<div class="table-responsive">
		    <table class="table table-hover">
		      <tr>
		        <th>
		          Name
		        </th>
		        <th>
		          Email
		        </th>
				<th>
				  Role
				</th>
		      </tr>
			  <% if users.present? %>
		      	<% users.each do |user| %>
		        	<tr class="userRow">
		          	  <td>
		            	  <%= user.name %>
		          	  </td>
					  <td>
						  <%= user.email %>
					  </td>
					  <td>
						  <%= user.role %>
					  </td>
		        	</tr>
		      	  <% end %>
			  <% end %>
		    </table>
		</div>
 	<% if can? :create, User %>
   		<a href="/users/new" class="btn btn-primary new-create">New User [+]</a>
	<% end %>	
   	</div>
</div>